/* ## Globals */

body {
    font-family: 'SUSE', -apple-, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.chroma {
    background-color: unset;
}

strong {
    font-size: 1.1em;
}

a {
    transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

a:hover {
    filter: drop-shadow(0 0 1px var(--primary))brightness(2);
}

/* ## Social */

.social-icons a:hover {
    transform: scale(1.3);
}

.social-icons svg {
    transition: transform .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-icons svg:hover {
    transform: scale(1.2);
    animation: tilt 0.5s infinite;
}

/* ## Post Features */

.post-entry {
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.post-entry:hover {
    border-color: var(--tertiary);
    filter: contrast(1.1);
}

.post-content h2 {
    margin: 32px auto 32px !important;
    position: relative;
}

.post-content h2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 30px;
    height: 5px;
    background-color: var(--content);
    margin-top: 7px;
    margin-left: 1px;
}

.profile-image {
    filter: 
    drop-shadow(0px 2px 2px black);
    transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.profile-image:hover {
    filter: 
    invert(0.7)
    drop-shadow(0px 0px 2px var(--primary))brightness(1.3);
    animation: heartbeat 1s infinite;
}  

@keyframes tilt {
    0% {
    transform: rotate(0deg);
    }
    50% {
    transform: rotate(3deg);
    }
    100% {
    transform: rotate(0deg);
    }
}

@keyframes heartbeat {
    0% {
        transform: scale(1.0);
    }
    80% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1.0);
    }
}

/* ## Github gist formatting */

body .gist .gist-file {
    border-color: #555 #555 #444
}
body .gist .gist-data {
    height:300px;
    overflow-y: visible;
    border-radius: var(--radius) var(--radius) 0 0;
    border-color: #555
}
body .gist .gist-meta {
    color: #ffffff;
    background: #373737; 
    border-radius: 0 0 var(--radius) var(--radius);
}
body .gist .gist-meta a {
    color: #ffffff;
}
body .gist .gist-data .pl-s .pl-s1 {
    color: #a5c261;
}