.social-icons a {
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social-icons a:hover {
    transform: scale(1.2);
}

.chroma {
  background-color: unset;
}

strong {
  font-size: 1.1em;
}

.post-content h2 {
    margin: 32px auto 32px !important;
    position: relative;
}

.post-content h2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 30px;
    height: 5px;
    background-color: var(--content);
    margin-top: 7px;
    margin-left: 1px;
}

/* Github gist formatting */

body .gist .gist-file {
    border-color: #555 #555 #444
}
body .gist .gist-data {
    height:300px;
    overflow-y: visible;
    border-radius: var(--radius) var(--radius) 0 0;
    border-color: #555
}
body .gist .gist-meta {
    color: #ffffff;
    background: #373737; 
    border-radius: 0 0 var(--radius) var(--radius);
}
body .gist .gist-meta a {
    color: #ffffff;
}
body .gist .gist-data .pl-s .pl-s1 {
    color: #a5c261;
}