{{- $src := .Get "src" -}}
<div class="card-wrapper">
    <a href="{{ $src }}" target="_blank"
            rel="noopener noreferrer">
        <img loading="lazy"  alt="{{ $src }}" src="{{ $src }}" class="{{ .Get "class" }}">
    </a>
    <div>
        <p>{{ .Inner }}</p>
    </div>
</div>

<style>
    .card-wrapper {
        /* styles from post-entry */
        width: 100%;
        position: relative;
        margin-bottom: var(--content-gap);
        padding: calc(var(--gap)/2);
        background: var(--entry);
        border-radius: var(--radius);
        border: 1px solid var(--border);
        color: var(--primary);
    }

    .card-wrapper img {
        margin: 0;
        height: 300px;
        width: 100%;
        object-fit: cover;
        border-radius: 8px;
        transform: scale(1);
        box-shadow: none;
        
    }

    .top {
        object-position: center top;
    }

    .bottom {
        object-position: center bottom;
    }

    .card-wrapper > div {
        display: flex;
        text-align: center;
        margin: calc(var(--gap)/2) 0;
        color: var(--secondary);
        font-size: 14px;
        line-height: 1.6;
        overflow: hidden;
        line-clamp: 2;
        margin-bottom: 0 !important;
    }

    .card-wrapper > div > p {
        width: 100%;
        font-size: 1.2em;
        margin-bottom: 0;
    }
</style>
