{{- $src := .Get "src" -}}
{{- $width := .Get "width" | default "100%" -}}
{{- $height := .Get "height" | default "400" -}}
{{- $title := .Get "title" | default "Embedded content" -}}
{{- $frameborder := .Get "frameborder" | default "0" -}}
{{- $allowfullscreen := .Get "allowfullscreen" | default "true" -}}

<div class="iframe-container">
    <iframe 
        src="{{ $src }}"
        width="{{ $width }}"
        height="{{ $height }}"
        title="{{ $title }}"
        frameborder="{{ $frameborder }}"
        allowfullscreen="{{ $allowfullscreen }}"
        loading="lazy">
    </iframe>
</div>
