{{- $src := .Get "src" -}}
<div class="center-flex">
  <a class="center-flex link {{ .Get "class" }}" href="{{ $src }}" target="_blank">
    <img alt="{{ $src }}" src="{{ $src }}" class="img">
  </a>
</div>

<style>
  .img {
    box-shadow: 1px 1px 5px #000;
  }

  .img-xs, .img-xs img {
    width: 35%;
  }

  .img-sm, .img-sm img {
    width: 50%;
  }

  .img-md, .img-md img {
    width: 70%;
  }

  .img-lg, .img-lg img {
    width: 85%
  }

  .img-xl, .img-xl img {
    width: 100%
  }

  .banner {
    width: 100%;
  }

  .banner img {
    width: 100%;
    object-fit: cover;
    height: 150px;
  }

  .link {
    text-decoration: none;
    outline: none;
    box-shadow: none !important;
  }

  .center-flex {
    display: flex;
    justify-content: center;
  }

  .white img {
    background-color: white;
  }
</style>