{{ $threeCanvas := resources.Get "js/three-canvas.js" }}
{{ $bundle := slice $threeCanvas | resources.Concat "js/bundle.js" }}
{{- $globalJS := $bundle | resources.Minify | fingerprint -}}
{{/*  Not ideal but script will be called for each invocation. Practically fine, repeat module imports are ignored.  */}}
<script type="module" async src="{{ $globalJS.Permalink }}" integrity="{{ $globalJS.Data.Integrity }}"></script>

{{- $size := "600" -}}
{{ if .Get "size" }}
    {{ $size = .Get "size" }}
{{ end }}

{{- $mode := "2D" -}}
{{ if .Get "mode" }}
    {{ $mode = .Get "mode" }}
{{ end }}

<div class="three-wrapper">
{{ if eq $mode "3D"  }}
    <div class="three-3d-container" style="height:{{$size}}px;width:{{$size}}px;">
        {{.Inner}}
    </div>
{{ else if eq $mode "3DR" }}
    <div class="three-3dr-container" style="height:{{$size}}px;width:{{$size}}px;">
        {{.Inner}}
    </div>
{{ else if eq $mode "2D" }}
    <div class="three-2d-container" style="height:{{$size}}px;width:{{$size}}px;">
        {{.Inner}}
    </div>
{{ end }}
</div>

<style>
    .three-wrapper {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
</style>

{{/* SYNTAX

// From file
{{< shader >}}
    <script class="fragment-file" type="x-shader/x-fragment">
        shaders/shader.frag
    </script>
    <script class="vertex-file" type="x-shader/x-vertex">
        shaders/shader.vert
    </script>
{{</ shader >}}

// Inline shader
{{< shader size="300" >}}
    <script class="vertexShader" type="x-shader/x-vertex">
        <vertex shader code here>
    </script>

    <script class="fragmentShader" type="x-shader/x-fragment">
        <fragment shader code here>
    </script>
{{</ shader >}}

*/}}