{{- $size := "600" -}}
{{ if .Get "size" }}
    {{ $size = .Get "size" }}
{{ end }}

<div class="three-wrapper">
{{ if .Get "mode" }}
        <div class="three-3d-container" style="height:{{$size}}px;width:{{$size}}px;">
            {{.Inner}}
        </div>
{{ else }}
        <div class="three-2d-container" style="height:{{$size}}px;width:{{$size}}px;">
            {{.Inner}}
        </div>
{{ end }}
</div>

<style>
    .three-wrapper {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
</style>

{{/* HOW TO USE
<script class="vertexShader" type="x-shader/x-vertex">
    <vertex shader code here>
</script>

<script class="fragmentShader" type="x-shader/x-fragment">
    <fragment shader code here>
</script>
*/}}