<div class="grid-tiles">
    {{ .Inner }}
</div>

<style>
    .grid-tiles {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: calc(var(--gap)/2);
        margin-bottom: var(--content-gap);
    }

    .grid-tiles img {
        margin: 0 !important;
    }

    .grid-tiles > div {
        margin: 0 !important;
    }
</style>

{{/*  
Example Syntax:

{{< img-tile >}}
    {{< img src="images/1.png" >}}
    {{< img src="images/2.png" >}}
    {{< img src="images/3.png" >}}
    {{< img src="images/4.png" >}}
    {{< img src="images/5.png" >}}
{{</ img-tile >}}
    
*/}}