<div class="grid-tiles" style="{{ with .Get "columns" }}{{ printf "grid-template-columns: repeat(%s, 1fr);" . | safeCSS }}{{ else }}grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));{{ end }}">
    {{ $type := lower (.Get "type") }}
    {{ if or (eq $type "markdown") (eq $type "md") }}
        {{ .Inner | markdownify }}
    {{ else }}
        {{ .Inner }}
    {{ end }}
</div>

<style>
.grid-tiles {
    display: grid;
    justify-items: center;
    gap: calc(var(--gap) / 2);
    margin-bottom: var(--content-gap);
}
.grid-tiles img,
.grid-tiles > div {
    margin: 0 !important;
}

.grid-tiles > * {
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

.grid-tiles pre {
    width: 100%;
    overflow-x: auto;
    white-space: pre-wrap;
    word-break: break-word;
}
</style>